.container-detail {
   display: flex;
   flex-direction: column;   
   background: black;
   height: 800px;
}

.img-detail {
  width: 600px;
  height: 400px;
  margin: 10px auto;

}

.container-info{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: white;
  margin:10px auto
}

.info{
  font-weight: bold;
}

.members{
  margin-left: 8px;
}